[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-glightbox = "*"
cairosvg = "*"
mkdocs-charts-plugin = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-rss-plugin = "*"
mkdocs-open-in-new-tab = "*"
mkdocs-print-site-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"
mkdocs-awesome-pages-plugin = "*"

[dev-packages]

[requires]
python_version = "3"
